@{
    ViewBag.Title = "Home Page";
}

<div class="section">

    <div class="card-header">
        <h3>Parroquia - Kermesse</h3>
    </div>

    <div class="card-body row index justify-content-center">
        <div class="col-md-3">
            <a href="/tbl_Parroquia/listar_Parroquia">
                <div class="card">
                    <img src="~/Content/imagenes/Iglesia.png" />
                    <h4>Parroquias</h4>
                </div>
            </a>
        </div>
        <div class="col-md-3">
            <a href="#">
                <div class="card">
                    <img src="~/Content/imagenes/Kermesse-.png" />
                    <h4>Kermesse</h4>
                </div>
            </a>
        </div>
    </div>

</div>

<div class="section">

    <div class="card-header">
        <h3>Comunidad</h3>
    </div>

    <div class="card-body row index justify-content-center">
        <div class="col-md-3">
            <a href="/tbl_Comunidad/listar_Comunidad">
                <div class="card">
                    <img src="~/Content/imagenes/Comunidad.png" />
                    <h4>Comunidades</h4>
                </div>
            </a>
        </div>
        <div class="col-md-3">
            <a href="/tbl_IngresoComunidad/listar_IngresoComunidad">
                <div class="card">
                    <img src="~/Content/imagenes/IngresoCom.png" />
                    <h4>Ingreso Comunidad</h4>
                </div>
            </a>
        </div>
    </div>

</div>

<div class="section">

    <div class="card-header">
        <h3>Bono</h3>
    </div>

    <div class="card-body row index justify-content-center">
        <div class="col-md-3">
            <a href="/tbl_Bono/listar_Bono">
                <div class="card">
                    <img src="~/Content/imagenes/Bono.png" />
                    <h4>Bonos</h4>
                </div>
            </a>
        </div>
    </div>

</div>

<div class="section">

    <div class="card-header">
        <h3>Producto</h3>
    </div>

    <div class="card-body row index justify-content-center">
        <div class="col-md-3">
            <a href="/tbl_Producto/listar_Producto">
                <div class="card">
                    <img src="~/Content/imagenes/Productos.png" />
                    <h4>Productos</h4>
                </div>
            </a>
        </div>
        <div class="col-md-3">
            <a href="/tbl_CatProducto/listar_CatProducto">
                <div class="card">
                    <img src="~/Content/imagenes/CatProductos.png" />
                    <h4>Categoría Productos</h4>
                </div>
            </a>
        </div>
    </div>

</div>

<div class="section">

    <div class="card-header">
        <h3>Control de caja</h3>
    </div>

    <div class="card-body row index justify-content-center">
        <div class="col-md-3">
            <a href="/Tbl_moneda/tbl_Moneda">
                <div class="card">
                    <img src="~/Content/imagenes/Moneda.png" />
                    <h4>Moneda</h4>
                </div>
            </a>
        </div>
        <div class="col-md-3">
            <a href="/Tbl_denominacion/ListDen">
                <div class="card">
                    <img src="~/Content/imagenes/Denominacion.png" />
                    <h4>Denominación</h4>
                </div>
            </a>
        </div>
        <div class="col-md-3">
            <a href="/Tbl_cat_gastos/ListaCatGastos">
                <div class="card">
                    <img src="~/Content/imagenes/CatGastos.png" />
                    <h4>Categoría Gastos</h4>
                </div>
            </a>
        </div>
        <div class="col-md-3">
            <a href="/Tbl_gastos/ListGastos">
                <div class="card">
                    <img src="~/Content/imagenes/ControlGastos.png" />
                    <h4>Control Gastos</h4>
                </div>
            </a>
        </div>
        <div class="col-md-3">
            <a href="/TblArqueoCaja/ListArqueo">
                <div class="card">
                    <img src="~/Content/imagenes/Arqueo.png" />
                    <h4>Arqueo Caja</h4>
                </div>
            </a>
        </div>
    </div>

</div>

<div class="section">

    <div class="card-header">
        <h3>Comunidad</h3>
    </div>

    <div class="card-body row index justify-content-center">
        <div class="col-md-3">
            <a href="#">
                <div class="card">
                    <img src="~/Content/imagenes/Usuario.png" />
                    <h4>Usuarios</h4>
                </div>
            </a>
        </div>
        <div class="col-md-3">
            <a href="#">
                <div class="card">
                    <img src="~/Content/imagenes/Rol.png" />
                    <h4>Roles</h4>
                </div>
            </a>
        </div>
        <div class="col-md-3">
            <a href="/tbl_Opcion/listar_Opcion">
                <div class="card">
                    <img src="~/Content/imagenes/Opciones.png" />
                    <h4>Opciones</h4>
                </div>
            </a>
        </div>
    </div>

</div>
